<%- include("partials/header") %>


<h1>This is the homepage!</h1>
<img src="https://media.mnn.com/assets/images/2018/04/sunset_through_oak_tree.jpg.653x0_q80_crop-smart.jpg" alt="tree"/>


<%- include ("partials/footer") %>