<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Umrah Package</title>
</head>
<body>

    <h1>List a new Umrah Package</h1>
    <form action="/umrahpackages" method="post">
        <section>
            <label for="travelAgency">Enter Travel Agency Name:</label>
            <input type="text" id="travelAgency" placeholder="Travel Agency" name="travelAgency"/>
        </section>
        <section>
        <label for="location">Enter Location:</label>
        <br/>
        <textarea name="location" id="location" cols="30" rows="5"></textarea>
        </section>
        <button>Submit</button>
    </form>

    <a href="/umrahpackages">Go Back</a>
    
</body>
</html>