<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page <%= 'salaam'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, enim harum? In nostrum nulla minus suscipit veniam accusamus vel ducimus! Recusandae non reiciendis perferendis nobis asperiores assumenda explicabo distinctio. Voluptas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum in dolorem dolorum illo a fugiat perspiciatis dolores exercitationem, optio, nulla explicabo nostrum error. Dicta inventore dolore placeat blanditiis aut saepe!</p>
</body>
</html>