#mainContent {
	border: 20px solid #bdc3c7;
	margin: auto;
	width: 50%;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	font-family: source sans pro;
	letter-spacing: 3px;
	padding-left: 10px;
	padding-top: 10px;
}

h2 {

	color: #2c3e50;
	font-family: source sans pro;
	font-size: 30px;
	padding-left: 10px;

}


.textContent {
	font-family: source sans pro;
	padding-left: 10px;
}



.leftBorder {
	border-left: 2px solid #bdc3c7;
	padding:2% 0 2% 0;	
}

#separator {
	text-align: center;
	border: 1px solid #bdc3c7;
	opacity: 0.2;
}