<%- include('partials/head')%>
    <%- include('partials/navbar')%>
    <h1>Home page <%= 'salaam'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, enim harum? In nostrum nulla minus suscipit veniam accusamus vel ducimus! Recusandae non reiciendis perferendis nobis asperiores assumenda explicabo distinctio. Voluptas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum in dolorem dolorum illo a fugiat perspiciatis dolores exercitationem, optio, nulla explicabo nostrum error. Dicta inventore dolore placeat blanditiis aut saepe!</p>
    <%- include('partials/footer')%>