section {
  width: 500px;
  height: 500px;
  background-color: magenta;
}

#rgba {
  width: 50%;
  height: 50%;
  background-color: #2c48a4b3;
}
#opacity {
  width: 50%;
  height: 50%;
  background-color: yellow;
  opacity: 0.3;
}
