body{
	background:url("MadinahAlRawdah.jpg");
	background-repeat:none;
	background-size:cover;
}

h1 {
	color: red;	
}

li{
	color: #00FF00;
}

h4 {
	color: rgb(255,0,255);
	border: 5px dashed maroon;	
}

p {
	color: rgba(20,10,25,5);
	/*border-color: violet;
	border-width: 5px;
	border-style: solid;*/
	border: 5px solid violet;
}