h1 {
	text-align: center;
}

table {

	/*
	EXTREMELY BAD PRACTICE:
	margin-left: 560px;
	*/

	/*
	CORRECTLY POSITIONS THE TABLE IN THE CENTER:
	margin: auto;
	*/

	margin: auto;
}


td {
	width: 100px;
	height: 100px;
}

.midVertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.midHorizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
